#home {
    background: #ffc107;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5 ;
}

.icone--footer {
    margin: 0 8px;
    animation: pulsar 1s infinite alternate;
}

@keyframes pulsar {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.2);
    }
}